<header>
  <%= form_tag logout_path do %>
    <!--<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>-->
    <button id="logout" name="logout" value="Logout"></button>
  <% end %>
  <h1>Bear Ballings</h1>
</header>
<div id="container">
  <div id="left">
    <form id="search" action="#">
      <input id="searchtext" type="text" placeholder="Course Search" disabled/>
    </form>
    <ul id="courses">
    </ul>
  </div>
  <div id="right">
    <ol id="bins">
    </ol>
  </div>
</div>
<script src="//underscorejs.org/underscore-min.js"></script>
<%= javascript_include_tag "javascript" %>
