* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin:0;
    height:100%;
    width:100%;
    background-color:#293f6f;
    color:white;
}

#login {
    margin:0;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height:100%;
    width:100%;
    text-align:center;
}

#login form h1 {
    font-size:150%;
}

#login form input {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:12em;
}

header {
    height:6ex;
    line-height:4ex;
    text-align:center;
}
header h1 {
    margin:0;
    padding:0.5ex;
    font-size:4ex;
}

#logout {
    position:absolute;
    font-size:100%;
    right:2px;
    top:0;
    height:6ex;
    width:6ex;
    padding:0;
    margin:0;
    border:0px solid black;
    background-color:red;
    font-style:bold;
}
#logout:before {
    font-size:200%;
    content: "\27F0\A";
}

#container {
    background-color:white;
    color:black;
    margin:0;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:stretch;
    align-content:stretch;
    height:calc(100% - 6ex);
}

#container > div {
    width:50%;
    height:100%;
    border-left:1px solid #293f6f;
    border-right:1px solid #293f6f;
    border-bottom:2px solid #293f6f;
}
#container > div:first-child {
    border-left-width:2px;
}
#container > div:last-child {
    border-right-width:2px;
}

#left {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:stretch;
    align-content:stretch;
}
#search {
    margin:0;
    padding:1em;
    text-align:center;
    border-bottom:1px solid #293f6f;
    flex:0 0 auto;
}
#search > input {
    width:90%;
}

ol, ul {
    margin:0;
    list-style-type:none;
    overflow-y:auto;
    padding:1em;
}

#courses {
    /*flex:2 0 auto;*/
}

#planner {
    padding:0.5em;
    height:100%;
}
ol.bin {
    padding:0.5em;
    border:1px solid black;
}

li.course {
    margin:1ex;
    padding:1ex;
    border:1px solid black;
}
li.course h3 {
    margin:0;
    padding:0;
}